@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Roboto&display=swap');

body {
  background: #333;
  margin:0;
}
body h3 {
  font-family: "Gothic A1", sans-serif;
  /**src: url("URWGothic-Demi.otf") format("opentype");**/
  font-size: 34px;
}
a:link, a:visited {
  color: #e1d8c0;
  text-decoration: none;
}
.logo {
  background-image: linear-gradient(rgba(0,0,0,0.3), #111), url(logobg1.png);
  background-size: cover;
}
.logo img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  height: auto;
}
/**.topbar-flex {
  display: flex;
  flex: 5;
  height: 40px;
  max-width: 100%;
  flex-wrap: wrap;
  background-color: #c17d30;
  padding: 0;
  align-items: center;
}
.topbar-flex a:hover, a:active {
  color: #000;
}
.topbar-flex div {
  font-family: "Gothic A1", sans-serif;
  font-size: 20px;
}**/
.topbar {
  display:flex;
  width: 100%;
  background-color: #c17d30;
}
.topbar ul {
  display:flex;
  list-style: none;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 1em;
  columns: 6;
  font-family: "Gothic A1", sans-serif;
}
.topbar ul li {
  font-size: 20px;
  margin: 0 1rem;
}
.topbar ul li a {
  text-transform: uppercase;
}
.topbar ul li a:hover {
  color: skyblue;
}
.cards {
  font-family: "Roboto", sans-serif;
  color: #e1d8c0;
  display: flex;
  flex: 300px 300px 300px;
  justify-content: center;
  flex-wrap: wrap;
}
.cards div {
  flex: 300px 300px 300px;
  padding: 1em;
  margin: 1em;
  margin-top: 2em;
  height: 400px;
  width: 300px;
  background-color: #744b1d;
  box-shadow: 5px 5px 10px #000;
}
.cards h3 {
  text-align: center;
  padding:0;
  margin:0;
}
.cards a:hover, a:active {
  color: skyblue;
}

.torsdag {
  background-image: url(bar3.png);
  background-size: cover;
  background-position: right;
  padding-top: 1em;
}
.fredag {
  background: url(image.png);
  background-size: cover;
}
.lørdag {
  background-image: url(bar2.png);
  background-size: cover;
}

.bottombar {
  display: flex;
  font-family: "Gothic A1", sans-serif;
  background-color: #c17d30;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  justify-content: center;
  bottom: 0;
}
.bottombar ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.bottombar ul a:hover {
  color: skyblue;
}
.bottombar li {
  margin: 1em;
}
